html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

p {
    margin-bottom: 0;
}

.game {
    width: 100%;
    height: 100%;
}

.touch-controls {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.touch-controls__control {
    flex: 1 1 50%;
}

.menu {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 100;
}

.menu_show-gameover .menu__gameover {
    display: block;
    background:
}

.menu_show-score .menu__score {
    display: block;
}

.menu__container {
    margin: auto;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.menu__header {
    color: #fff;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.menu__gameover {
    display: none;
    color: red;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.menu__score {
    display: none;
    color: #eee;
    font-size: 2em;
}

.menu__controls {
    color: #999;
    font-size: 1.3em;
    line-height: 1.8;
}

.keyboard-btn {
    padding: 0.1em 0.3em;
    background: #aaa;
    color: #222;
    border-radius: 2px;
}

.score {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.3em;
    font-size: 2.5em;
    font-family: Roboto Mono, courier, sans-serif;
    color: #fff;
}

.controls-icons {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 10%;
    z-index: 110;
}

.pause-button,
.volume-button {
    display: block;
    width: 100%;
    padding: 0.3em 0.4em;
    text-align: left;
    font-size: 2.2em;
    color: #fff;
    background: transparent;
    border: none;
    transition: transform 0.1s ease-in-out;
}

.pause-button:focus,
.volume-button:focus {
    outline: none;
}

.pause-button:active,
.volume-button:active {
    transform: scale(0.95);
}

.pause-button__pause-icon,
.pause-button__play-icon {
    display: none;
}

.pause-button_pause .pause-button__pause-icon,
.pause-button_play .pause-button__play-icon {
    display: block;
}

.volume-button__on-icon,
.volume-button__off-icon {
    display: none;
}

.volume-button_on .volume-button__on-icon,
.volume-button_off .volume-button__off-icon {
    display: inline-block;
}

.volume-button img {
    width: 100%;
    max-width: 1.2em;
    max-height: 1.2em;
    /*display: inline-block;*/
}

@media screen and (max-width: 700px) {
    p {
        margin-top: 0.7em;
    }

    .menu {
        font-size: 0.8em;
    }

    .menu__score {
        font-size: 1.6em;
    }

    .menu__header,
    .menu__gameover {
        font-size: 2em;
    }
}
